  .menu {
    background-color: #ffffff;
    overflow: hidden;
  }

  .menu-right{
      float: right;
  }

  .menu a{
    float: left;
    color: #8c6b48;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menu a.active{
    background-color: #380792;
    color: white;
  }

  .menu a:hover{
    background-color: #ddd;
    color: black;
  }
