  .menu {
    background-color: #77f0c7;
    overflow: hidden;
  }

  .menu-right{
      float: right;
  }

  .menu a{
    float: left;
    color: #1fb67c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menu a.active{
    background-color: #07492a;
    color: white;
  }

  .menu a:hover{
    background-color: rgb(219, 233, 213);
    color: black;
  }
